

body
{
    background-size:100%;
  
}
h1
{
    position: relative;
    align-self: center;
    margin-left: auto;
    color:blueviolet;
    font-size: xx-large;
}

.name{
    position:relative;
    top:150px;
    left:150px;
}
.name h1{
    font-size: 45pt;
    color:aliceblue;
}
.sk h1{
  color: aliceblue;  
}


.con h1{
    color:aliceblue;
}